/**
*    Global Setting    
**/

body{
	background: #fff;
	width: 100%;
	height: 100%;
	color: #292929;
	font-size: 16px;
}

section{
	padding-top: 30px;
	padding-bottom: 30px;
}

.section-title{
	padding: 10px 0;
	font-size: 26px;
	text-transform: uppercase;
	color: #d9010d;
}

.wrapper{
	min-height: 100%;
	overflow: hidden;
	position: relative;
}

.empty{
	clear: both;
}

img.thumbnail-img{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.thumbnail{
	border-color: #c9c9c9;
}


/**=====================
**/

.icon-svg{
	width: 2em;
	height: 2em;
}

/**
*   Header    
**/

/**
*   Site Navigation    
**/
#site-navigation{
	padding-top: 5px;
	margin-bottom: 0 !important;
	overflow: hidden;
	position: relative;
}

.navbar-default {
	background-color: #fff;
	border-color: transparent;
}

.navbar-brand {
	height: auto;	
	margin-top: 0;
	padding: 0;
}

 .nav-site-top ul > li{
	background-color: transparent; 
	text-decoration: none;
 }
 
.nav-site-top ul > li > a{
	line-height: normal ;
	text-transform: uppercase;
}

.nav-site-top ul > li > a:hover,
.nav-site-top ul > li.active > a,
.nav-site-top ul > li.active > a:hover,
.nav-site-top ul > li.active > a:focus {
  color: #d9010d !important;	
  background-color: transparent !important;
  border-bottom: 2px solid #d9010d;
}

@media (min-width: 768px) {
	  
	.nav-site-top ul > li{	
	  min-height: 2em;	
	}  
	
	.nav-site-top ul > li > a{
	  line-height: 4;
	  padding: 5px 5px;
	}
}
/**
*   Section Slider   
**/

.carousel {
	position: relative;
	overflow: hidden;
	max-width: 1920px;
	max-height: 900px;
	margin: 0 auto;

}
.container-carousel{
	position: relative;
}
/**/
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 10.5em;
  left: 5%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .description-caption{
	 font-size: 3em;
 }
 
.carousel-caption .name-caption{
	 font-size: 5em;
 }
 
.btn-carousel-caption,
.btn-carousel-caption:focus{
	background-color: #383838;
	padding-left: 25px;
	padding-right: 25px;
	border: 1px solid #fff;
	filter: alpha(Opacity=60);
    opacity: 0.6;
	font-size: 20px;
	color: #fff;	 
 }

.btn-carousel-caption:hover{
	background-color: #383838;
	filter: alpha(Opacity=95);
    opacity: 0.95;
	color: #fff;	 
 } 
 
 .container-carousel-control{
	position: relative;  
 }
 .carousel-control {
	position: absolute;
	top: -6.5em;
	right: 15%;
	left: 5%;
	width: 8%;
	height: 2.5em;
	border: 3px solid #fff;
	
	font-size: 20px;
	color: #fff;
	
	text-align: center;
	text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	background-color: transparent;
	filter: alpha(opacity=90);
	opacity: 0.9;
}

.right-control{
  right: 0;
  left: 12.9999%;
}

@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    margin-top: -15px;
	font-size: 30px;
    
  }
}
 
 
 
/**
*   Section Baner Top   max-height: 316px;
**/
.section-top{
	padding-top: 0;
}
 .section-baner-top {
	position: relative;
	overflow: hidden;
	max-width: 1920px;
	margin: 0 auto;
}

/**
*   Main .section-top   
**/
.item-nav-offer{
	overflow: hidden;
	position: relative;
	margin: 10px 0;
	
}

a.link-nav-offer{
	display: block;
	
}

a.link-nav-offer:hover{
	text-decoration: none;
}

.item-thumbnail{
	height: 300px;
}

.item-title{
	position: relative;
	height: 70px;
	bottom: 0;
	margin-top: -70px;
	padding: 20px 0;
	background-color: #383838;
	filter: alpha(Opacity=60);
    opacity: 0.6;
	font-size: 20px;
	color: #fff;	
}

.item-title:hover{
	background-color: #383838;
	filter: alpha(Opacity=100);
    opacity: 1.0;
}

.section-baner-top{
	padding: 0;
}

.section-single-offer{
	padding-top: 30px;
	background-color: #f8f8f8;	
}

@media (min-width: 992px) {
	.single-offer-content{
		margin-top: 0 !important;
	}
}

.cost-entry-offer{
	padding-top: 1.5em;
}

.cost-offer{
	color: #d9010d;
	span.cost-offer-value{
		font-weight: bold;
	}
}

.btn-entry-offer{
	width: 95% !important;
}

.title-top{
	margin: 0;
	padding: 0;
}


.breadcrumb-top{
	background-color: #f8f8f8;
}
.breadcrumb {
  padding: 8px 0;
  margin-bottom: 0;
  list-style: none;
  background-color: #f8f8f8;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.breadcrumb > .active {
  color: #292929;
}


/**
*   Main .section-middle section-gallery   
**/

.carousel-gallery {
	  position: relative;
	  overflow: hidden;
	  
	
}
.carousel-indicators.indicators-gallery {
	position: relative;
	bottom: 0;
	left: 0;
	z-index: 15; 
 
  width: 100%;
  padding-left: 0;
  margin-left: 0;
  text-align: center;
  list-style: none;
}


.carousel-indicators.indicators-gallery li {
  display: inline-block;
  overflow: hidden;
  width: 173px;
  height: 108px;
  margin: 0;  
  padding: 0;
  
  text-indent: inherit;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
	
	img{
		width: 173px;
		height: 108px;
	}
  
}
.carousel-indicators.indicators-gallery .active {
	margin: 0;
	width: 173px;
	height: 108px;
	  img{
		filter: alpha(Opacity=70);
		opacity: 0.7;
	  }
  
}


/**
*   Main .section-middle   
**/

.section-offers{
	background-color: #e0e0e0;
}

.offer-content{
	margin: 15px 0;
	
}

.entry-offer-thumbnail{
	height: 248px;
	margin: 5px 0;
}

.offer-title{
	padding: 10px 0 5px;
	margin: 0;
	color: #d9010d;
}

.params-block{
	padding: 5px 0 15px;
}

@media (min-width: 768px) {
	.params-block-first{
		padding-left: 45px;
	}

	.params-block-last{
		padding-right: 45px;	
	}
}

.icon-svg-block{
	padding: 10px;
}

.label-block{
	font-size: 11px;
	color: #58585a;
}

.value-param-block{
	font-size: 16px;
	font-weight: bold;
	color: #58585a;
}


.btn-buy,
.btn-buy:focus{
	width: 100%;
	height: 60px;
	background: #292929;
	border-color: transparent;
	border-radius: 0;
		font-size: 18px;
		font-weight: bold;
		line-height: 2.5;
		color: #fff;
}

.btn-buy:hover {
	background-color: #383838;
	filter: alpha(Opacity=80);
	opacity: 0.8;
	border-color: transparent;
	color: #fff;
}

/**
*   Main .section-bottom   
**/

.post:hover{
	background-color: #e0e0e0;
	.entry-header{
		color: #d9010d;
	}
}

.post-content{
	margin: 15px;	
}
.post-thumbnail{
	margin: 1px;
}

.entry-title{
	font-size: 26px;
}

.entry-meta{
	color: #bcbcbc;
	font-size: 14px;
}

.entry-content{
	margin: 5px 0;
}

.entry-footer{
	margin: 25px 0;
}

.btn-entry,
.btn-entry:focus{
	width: 172px;
	height: 42px;
	background: #58585a;
	border-color: transparent;
		line-height: 2;
		color: #fff;
}

.btn-entry:hover{
	background-color: #383838;
	filter: alpha(Opacity=100);
	opacity: 1.0;
	border-color: transparent;
	color: #fff;
}


/**
*   Footer    
**/
.site-footer{
	position:relative;	
	overflow: hidden;
	height: auto;
    padding-top: 20px;	
	background: #000;
}
.site-branding-footer{
	overflow: hidden;
	padding: 20px 0;
}

.nav-site-footer {
    padding: 10px 0;
}

.nav-footer > li {
	display: inline-block;
	background-color: transparent;
}
.nav-footer > li > a {
	text-transform: uppercase;
	color: #fff;
}
.nav-footer > li + li {
	margin-left: 2px;
}

.nav-footer > li > a:hover,
.nav-footer > li > a:focus,
.nav-footer > li.active > a,
.nav-footer > li.active > a:hover,
.nav-footer > li.active > a:focus {
	color: #d9010d !important;	
	background-color: transparent;
}

.site-info{
	padding-top: 15px;
	padding-bottom: 30px;
	background: #000;
	border-top: 1px solid #383838;
	color: #fff;
	text-transform: uppercase;
		a.text-copyright{
			color: #fff;
		}
}

/*============    	АДАПТИВ    ===========*/

@media(min-width:0px) and (max-width:320px) {
	
}

@media(min-width:321px) and (max-width:480px) {
	
}

@media(min-width:481px) and (max-width:768px) {
	
}

@media(min-width:769px) and (max-width:992px) {
	
}

@media(min-width:993px) and (max-width:1200px) {
	
}



